*.sqlite
embedding_models/
data/
cache/
cache_test/
cache_bge_base/
pipeline_storage/
pipeline_storage_bge_base/
pipeline_storage_cache_bge_base/
unstructuredio/
.byaldi/

documents.pkl
.DS_Store/
.DS_Store
